/FindReplace/bin/Debug/app.publish/FindReplace.exe
/FindReplace/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FindReplace/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FindReplace/obj/Debug/FindReplace.application
/FindReplace/obj/Debug/FindReplace.csproj.CoreCompileInputs.cache
/FindReplace/obj/Debug/FindReplace.csproj.FileListAbsolute.txt
/FindReplace/obj/Debug/FindReplace.csprojAssemblyReference.cache
/FindReplace/obj/Debug/FindReplace.exe
/FindReplace/obj/Debug/FindReplace.exe.manifest
/FindReplace/obj/Debug/FindReplace.pdb
/FindReplace/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FindReplace/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FindReplace/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/FindReplace/v15
/FindReplace/bin/Release/Translations
