<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MainStringsFilePath" value="C:\Users\vilek\source\repos\Dhamma\FindReplace\bin\Release\Main.strings" />
    
    <!--Specify the Language code to be translated. -->
    <!--example: zh-HANT for Chinese - Traditional -->
    <add key="selectToken" value="zh-HANT" />
    
    <add key="TranslationFilePath" value="C:\Users\vilek\source\repos\Dhamma\FindReplace\bin\Release\dhamma_org_mobile_app_translations-2019-07-04.json" />

    <add key="TranslatedMainStringsFilePath" value="C:\Users\vilek\source\repos\Dhamma\FindReplace\bin\Release\Translations" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>